html, body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #333;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
canvas {
  display: block;
}

.pikmintext {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.pikmintext ul {
  display: inline-block;
  text-align: left;
  padding-left: 20px; 
}
