html, body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #0a0601;
  text-align: center;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  flex-direction: column; 
}

canvas {
  display: block;
}

h2, p {
  margin-top: 0;
  padding-top: 0;
}
